In [1]:
import pandas as pd 
import numpy as np

In [4]:
data = pd.read_csv(r'D:\iNeuron_pvt_ltd\Machine_Learning\End_to_End_Project\notebooks\data\training_data.csv')
data

        carat  cut  color  clarity  depth  table     x     y     z  price
0        1.52    4      3        4   62.2   58.0  7.27  7.33  4.55  13619
1        2.03    3      7        2   62.0   58.0  8.06  8.12  5.05  13387
2        0.70    5      4        5   61.2   57.0  5.69  5.73  3.50   2772
3        0.32    5      4        5   61.6   56.0  4.38  4.41  2.71    666
4        1.70    4      4        4   62.6   59.0  7.65  7.61  4.77  14453
...       ...  ...    ...      ...    ...    ...   ...   ...   ...    ...
193568   0.31    5      1        6   61.1   56.0  4.35  4.39  2.67   1130
193569   0.70    4      4        6   60.3   58.0  5.75  5.77  3.47   2874
193570   0.73    3      3        3   63.1   57.0  5.72  5.75  3.62   3036
193571   0.34    3      1        3   62.9   55.0  4.45  4.49  2.81    681
193572   0.71    2      2        2   60.8   64.0  5.73  5.71  3.48   2258

[193573 rows x 10 columns]